* {
    box-sizing: border-box;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    filter: blur(6px);
     
  }

body {
    text-align: center;
    margin-top: 10px;
    background-color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.players {
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.videobox {
    text-align: center;
    height: 1600;
    width: 1000;


}

.start {
    font-family: fantasy;
    font-size: 20px;
    color:white;
    background-color:transparent;
    text-align: center;
    cursor:pointer;
    border:none;
    

}
.round {
    font-size: 30px;
} 

h3 {
    color: antiquewhite;

}

.player1 {
    border: outset;
    width: 160px;
    height: 200px;
    text-align: center;
    padding: 10px;
}

.player2 {
    border: outset;
    width: 160px;
    height: 200px;
    text-align: center;
    padding: 10px;
}

.rows {
    display: flex;
    justify-content: center;
    filter: blur(0.2px);
    
}

.column {
    text-align: center;
    background-color:rgb(7, 7, 34);
    color: silver;
    width: 150px;
    height: 150px;
    margin: 2px 2px 2px 0px;
    padding: 35px;
    font-size: 60px;
    
}

.restart {
    font-family: fantasy;
    font-size: 40px;
    color:white;
    background-color:transparent;
    text-align: center;
    cursor:pointer;
    border:none;
    padding: 40px;
}

/* @media(max-width:960px) {
    body{
        padding: 3rem;
        
    }
} */