* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin-top: 10px;
    background-color: rgb(221, 214, 214);
}

.players {
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.round {
    font-size: 30px;
} 

.player1 {
    border: outset;
    width: 120px;
    height: 120px;
    text-align: left;
    padding: 10px;
}

.player2 {
    border: outset;
    width: 120px;
    height: 120px;
    text-align: right;
    padding: 10px;
}

.rows {
    display: flex;
    justify-content: center;
    
    
}

.column {
    text-align: center;
    background-color: rgb(235, 202, 207);
    width: 150px;
    height: 150px;
    margin: 2px 2px 2px 0px;
    padding: 35px;
    font-size: 60px;
 
}

.restart {
    margin: 50px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: rgb(88, 88, 112);
    color: rgb(235, 202, 207);
    font-weight: bolder;
}